#  FRAUD DETECTION using Neural Network
##### Objective:
FRAUD DETECTION

Approach:
Here the note book contains 4 sections

1) Exploratory Data analysis

2) Applying  ML regression Models and Neural network model

3) Improving the NN model

4) Conclusion

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns


import datetime as dt
import calendar,warnings,itertools,matplotlib,keras,shutil

import statsmodels.api as sm
from datetime import datetime

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,recall_score,confusion_matrix,f1_score

import xgboost as xgb

import tensorflow as tf
from keras import Sequential
from keras.layers import Dense
from IPython.core import display as ICD


#Hiding the warnings
warnings.filterwarnings('ignore')

### Fetching Data

In [2]:
dataset=pd.read_csv(r"C:\Users\rajbo\Downloads\09. Deep learning\09. Deep learning\thati\DataCoSupplyChainDataset.csv\DataCoSupplyChainDataset.csv",header= 0,encoding= 'unicode_escape')
dataset.head(5)# Checking 5 rows in dataset

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [3]:
dataset.shape

(180519, 53)

### Checking the basic info about the data

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

### Checking the null values in the dataset

In [5]:
# dataset.isnull().sum()

### Data Cleaning

The data consists of some missing values from `Customer Lname, Product Description, Order Zipcode and, Customer Zipcode` which should be `removed or replaced` before proceeding with the analysis. And also, since there is a chance different customers might have the same first name or same last name a new column with â€˜customer full nameâ€™ is created to avoid any ambiguities.

In [6]:
# # Adding first name and last name together to create new column
# dataset['Customer Full Name'] = dataset['Customer Fname'].astype(str)+dataset['Customer Lname'].astype(str)

 To make it easier for analysis some unimportant columns are dropped

In [7]:
data=dataset.drop(['Customer Email','Product Status','Customer Password','Customer Street','Customer Fname','Customer Lname',
           'Latitude','Longitude','Product Description','Product Image','Order Zipcode','shipping date (DateOrders)'],axis=1)
data.shape

(180519, 41)

In [8]:
data['Customer Zipcode']=data['Customer Zipcode'].fillna(0)

### Data analysis using Visualisation

#### Heatmap for correlation matrix

In [9]:
# fig, ax = plt.subplots(figsize=(24,12))
# sns.heatmap(data.corr(),annot=True,linewidths=.5,fmt='.1g',cmap= 'coolwarm') # Heatmap for correlation matrix

#### Observation:
- We can observe that product price price has high correlation with Sales,Order Item Total.

- Finding which payment method is used to conduct frauds can be useful to prevent fraud from happening in future

In [10]:
# #Checking type of payment used to conduct fraud other than Transfer
# xyz = data[(data['Type'] != 'TRANSFER')&(data['Order Status'] == 'SUSPECTED_FRAUD')]
# xyz['Order Region'].value_counts()

#### Observation:
- It can be clearly seen that there are no frauds conducted with DEBIT,CASH,PAYMENT methods so all the suspected fraud orders are made using wire transfer probably from abroad. Which region and what product is being suspected to the fraud the most?

In [11]:
# high_fraud = data[(data['Order Status'] == 'SUSPECTED_FRAUD') & (data['Type'] == 'TRANSFER')]#separating orders with suspected fraud
# #Plotting pie chart with respect to order region
# fraud=high_fraud['Order Region'].value_counts().plot.pie(figsize=(24,12),
#       startangle=180, explode=(0.1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),autopct='%.1f',shadow=True,)
# plt.title("Regions with Highest Fraud",size=15,color='r') # Plotting title
# plt.ylabel(" ")
# fraud.axis('equal') 
# plt.show()

#### Observation:
- It can be observed that highest number of suspected fraud orders are from Western Europe which is approximately 17.4% of total orders followed by Central America with 15.5%. Which product is being suspected fraud the most?

In [12]:
# high_fraud1 = data[(data['Order Status'] == 'SUSPECTED_FRAUD')] # 
# high_fraud2 = data[(data['Order Status'] == 'SUSPECTED_FRAUD') &(data['Order Region'] == 'Western Europe')]
# #Plotting bar chart for top 10 most suspected fraud department in all regions
# fraud1=high_fraud1['Category Name'].value_counts().nlargest(10).plot.bar(figsize=(13,6), title="Fraud Category",color='orange')
# #Plotting bar chart for top 10 most suspected fraud department in Western Europe
# fraud2=high_fraud2['Category Name'].value_counts().nlargest(10).plot.bar(figsize=(13,6), title="Fraud product in Western Europe",color='green')
# plt.legend(["All regions", "Western Europe"])
# plt.title("Top 10 products with highest fraud detections", size=15)
# plt.xlabel("Products", size=13)
# plt.ylim(0,600)
# plt.show()

#### Observation:
- It is very suprising to see that cleats department is being suspected to fraud the most followed by Men's footwear in all the regions and also in Western Europe.Which customers are conducting all these fraud?

In [13]:
# #Filtering out suspected fruad orders
# cus = data[(data['Order Status'] == 'SUSPECTED_FRAUD')] 
# #Top 10 customers with most fraud
# cus['Customer Full Name'].value_counts().nlargest(10).plot.bar(figsize=(20,8), title="Top 10 Highest Fraud Customers")

#### Observation:
- The customer named Mary Smith alone was responible for trying to conduct fraud 528 times

### Data Splitting

In [14]:
#Calculating total price for which each order
data['TotalPrice'] = data['Order Item Quantity'] * data['Order Item Total']# Multiplying item price * Order quantity
data['order date (DateOrders)'] = pd.to_datetime(data['order date (DateOrders)'])

In [15]:
train_data=data.copy()

Two new columns are created for orders with suspected fraud and late delivery making them into binary classification, which in turn helps to measure performance of different models better.

In [16]:
train_data['fraud'] = np.where(train_data['Order Status'] == 'SUSPECTED_FRAUD', 1, 0)

Now to measure machine models accurately all the columns with repeated values are dropped like late_delivery_risk column because, it is known all the products with late delivery risk are delivered late. And Order Status column because, a new column for fraud detection is created there is a chance machine learning model might take values directly from these columns to predict output.

In [17]:
#Dropping columns with repeated values
train_data.drop(['Delivery Status','Late_delivery_risk','Order Status','order date (DateOrders)'], axis=1, inplace=True)

It is important to check the type of variables in the data because machine learning models can only be trained with numerical values.

In [18]:
train_data.dtypes

Type                              object
Days for shipping (real)           int64
Days for shipment (scheduled)      int64
Benefit per order                float64
Sales per customer               float64
Category Id                        int64
Category Name                     object
Customer City                     object
Customer Country                  object
Customer Id                        int64
Customer Segment                  object
Customer State                    object
Customer Zipcode                 float64
Department Id                      int64
Department Name                   object
Market                            object
Order City                        object
Order Country                     object
Order Customer Id                  int64
Order Id                           int64
Order Item Cardprod Id             int64
Order Item Discount              float64
Order Item Discount Rate         float64
Order Item Id                      int64
Order Item Product Price         float64
Order Item Profit Ratio          float64
Order Item Quantity                int64
Sales                            float64
Order Item Total                 float64
Order Profit Per Order           float64
Order Region                      object
Order State                       object
Product Card Id                    int64
Product Category Id                int64
Product Name                      object
Product Price                    float64
Shipping Mode                     object
TotalPrice                       float64
fraud                              int32
dtype: object

### Feature Encoding

In [19]:
# create the Labelencoder object
le =LabelEncoder()
#convert the categorical columns into numeric
train_data['Customer Country']  = le.fit_transform(train_data['Customer Country'])
train_data['Market']            = le.fit_transform(train_data['Market'])
train_data['Type']              = le.fit_transform(train_data['Type'])
train_data['Product Name']      = le.fit_transform(train_data['Product Name'])
train_data['Customer Segment']  = le.fit_transform(train_data['Customer Segment'])
train_data['Customer State']    = le.fit_transform(train_data['Customer State'])
train_data['Order Region']      = le.fit_transform(train_data['Order Region'])
train_data['Order City']        = le.fit_transform(train_data['Order City'])
train_data['Category Name']     = le.fit_transform(train_data['Category Name'])
train_data['Customer City']     = le.fit_transform(train_data['Customer City'])
train_data['Department Name']   = le.fit_transform(train_data['Department Name'])
train_data['Order State']       = le.fit_transform(train_data['Order State'])
train_data['Shipping Mode']     = le.fit_transform(train_data['Shipping Mode'])
#train_data['order_week_day']    = le.fit_transform(train_data['order_week_day'])
train_data['Order Country']     = le.fit_transform(train_data['Order Country'])
# train_data['Customer Full Name']= le.fit_transform(train_data['Customer Full Name'])

#display the initial records
train_data.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Category Id,Category Name,Customer City,Customer Country,Customer Id,...,Order Profit Per Order,Order Region,Order State,Product Card Id,Product Category Id,Product Name,Product Price,Shipping Mode,TotalPrice,fraud
0,1,3,4,91.250000,314.640015,73,40,66,1,20755,...,91.250000,15,475,1360,73,78,327.75,3,314.640015,0
1,3,5,4,-249.089996,311.359985,73,40,66,1,19492,...,-249.089996,13,841,1360,73,78,327.75,3,311.359985,0
2,0,4,4,-247.779999,309.720001,73,40,452,0,19491,...,-247.779999,13,841,1360,73,78,327.75,3,309.720001,0
3,1,3,4,22.860001,304.809998,73,40,285,0,19490,...,22.860001,11,835,1360,73,78,327.75,3,304.809998,0
4,2,2,4,134.210007,298.250000,73,40,66,1,19489,...,134.210007,11,835,1360,73,78,327.75,3,298.250000,0

In [20]:
#All columns expect fraud
xf=train_data.loc[:, train_data.columns != 'fraud']
#Only fraud column
yf=train_data['fraud']

xf_train, xf_test,yf_train,yf_test = train_test_split(xf,yf,test_size = 0.2,random_state = 42)

### Feature Scaling

Since there are so many different variables with different ranges standard scaler is used to standardize total the data so it is internally consistent before training the data with machine learning.

In [21]:
sc = StandardScaler()
xf_train=sc.fit_transform(xf_train)
xf_test=sc.transform(xf_test)

The data is now ready to be used in machine learning models since many different models are compared training every model from begining is complicated so a function is defined to make the process bit easy. The output is in binary classification format so all the models are measured with `Accuracy score,recall score and F1 score` metrics.

To measure the performance of different models `F1 score` is `used as the main metric` because it is the harmonic mean of precison score and recall score.And all the scores are multiplied with 100 for better understanding

### ML Models

In [22]:
def classifiermodel(model_f,xf_train, xf_test,yf_train,yf_test):
    model_f=model_f.fit(xf_train,yf_train) # Fitting train data for fraud detection
    
    yf_pred=model_f.predict(xf_test)
    
    accuracy_f=accuracy_score(yf_pred, yf_test) #Accuracy for fraud detection
    
    recall_f=recall_score(yf_pred, yf_test) #Recall score for  fraud detection
   
    conf_f=confusion_matrix(yf_test, yf_pred)# fraud detection
   
    f1_f=f1_score(yf_test, yf_pred)#fraud detection
    
    #print('Model paramters used are :',model_f)
    print('Accuracy of fraud status is        :', (accuracy_f)*100,'%')
    print('Recall score of fraud status is        :', (recall_f)*100,'%')
#     print('Conf Matrix of fraud status is        :\n',  (conf_f))
    print('F1 score of fraud status is        :', (f1_f)*100,'%')

### Random Forest classification

In [23]:
model_f = RandomForestClassifier()
classifiermodel(model_f,xf_train, xf_test,yf_train,yf_test)

Accuracy of fraud status is        : 97.75925105251495 %
Recall score of fraud status is        : 100.0 %
F1 score of fraud status is        : 9.203142536475868 %

### eXtreme Gradient Boosting Classification

In [24]:
model_f = xgb.XGBClassifier()
classifiermodel(model_f,xf_train, xf_test,yf_train,yf_test)

[16:57:38] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy of fraud status is        : 97.9309771770441 %
Recall score of fraud status is        : 98.13084112149532 %
F1 score of fraud status is        : 21.9435736677116 %

### Neural Network Model for Classification

In [25]:
classifier = Sequential()

classifier.add(Dense(1024, activation='relu', input_dim=38)) #Since we have 44 columns

classifier.add(Dense(512, activation='relu'))

classifier.add(Dense(256, activation='relu'))

classifier.add(Dense(128, activation='relu'))

classifier.add(Dense(64, activation='relu'))

classifier.add(Dense(32, activation='relu'))

classifier.add(Dense(16, activation='relu'))

classifier.add(Dense(8, activation='relu'))

classifier.add(Dense(4, activation='relu'))

classifier.add(Dense(2, activation='relu'))

classifier.add(Dense(1, activation='sigmoid'))

Since output data is binary classification the binary_crossentropy is used to measure loss and accuracy is used as metric to train the model because F1 score is not available in Keras.

In [26]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [27]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1024)              39936

 dense_1 (Dense)             (None, 512)               524800

 dense_2 (Dense)             (None, 256)               131328

 dense_3 (Dense)             (None, 128)               32896

 dense_4 (Dense)             (None, 64)                8256

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 16)                528

 dense_7 (Dense)             (None, 8)                 136

 dense_8 (Dense)             (None, 4)                 36

 dense_9 (Dense)             (None, 2)                 10

 dense_10 (Dense)            (None, 1)                 3

=================================================================
Total params: 740,009
Trainable params: 740,009
Non-trainable params: 0
_________________________________________________________________

The model is trained with batch size of 512 and 10 epochs.

In [28]:
#Fitting the data to the training dataset
classifier.fit(xf_train,yf_train, batch_size=512, epochs=10)

Epoch 1/10
283/283 [==============================] - 5s 7ms/step - loss: 0.6305 - accuracy: 0.9710
Epoch 2/10
283/283 [==============================] - 2s 7ms/step - loss: 0.5219 - accuracy: 0.9778
Epoch 3/10
283/283 [==============================] - 2s 6ms/step - loss: 0.4363 - accuracy: 0.9778
Epoch 4/10
283/283 [==============================] - 2s 6ms/step - loss: 0.3690 - accuracy: 0.9778
Epoch 5/10
283/283 [==============================] - 2s 7ms/step - loss: 0.3161 - accuracy: 0.9778
Epoch 6/10
283/283 [==============================] - 2s 7ms/step - loss: 0.2742 - accuracy: 0.9778
Epoch 7/10
283/283 [==============================] - 2s 6ms/step - loss: 0.2410 - accuracy: 0.9778
Epoch 8/10
283/283 [==============================] - 2s 6ms/step - loss: 0.2145 - accuracy: 0.9778
Epoch 9/10
283/283 [==============================] - 2s 5ms/step - loss: 0.1933 - accuracy: 0.9778
Epoch 10/10
283/283 [==============================] - 2s 6ms/step - loss: 0.1762 - accuracy: 0.9778

###  Improving the NN Classification model

In [29]:
# classifier.fit(xf_train,yf_train, batch_size=512, epochs=30)

The model is evaluated with test data set

In [30]:
train_evaluate=classifier.evaluate(xf_train, yf_train)
test_evaluate=classifier.evaluate(xf_test, yf_test)

yf_pred1=classifier.predict(xf_test,batch_size=512,verbose=1)
yf_pred=np.argmax(yf_pred1,axis=1)


print('accuracy for Train set is',train_evaluate[1])
print('accuracy for Test set is',test_evaluate[1])# evaluation of model.
print('F1_Score for Test set is',f1_score(yf_test,yf_pred,average="weighted"))

4513/4513 [==============================] - 12s 3ms/step - loss: 0.1687 - accuracy: 0.9778
1129/1129 [==============================] - 3s 3ms/step - loss: 0.1714 - accuracy: 0.9765
71/71 [==============================] - 0s 4ms/step
accuracy for Train set is 0.977758526802063
accuracy for Test set is 0.976456880569458
F1_Score for Test set is 0.9648255733921929

### Conclusion

The `f1 score for neural network model is 96.48%` which is pretty high and better when compared with `xGB f1 score which was 71.25`.But comparing accuracy scores it can concluded that even machine learning models did pretty good for fraud detection.